@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/*====================
Reset CSS
======================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s linear;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/*====================
Common CSS
======================*/
.container {
  max-width: 73.125rem;
  margin: 0 auto;
}

/*====================
Background CSS
======================*/
/*====================
Common Button CSS
======================*/
.btn {
  display: inline-block;
  color: #ffffff;
  border-radius: 7px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid #FF6600;
}
.btn.btn-box {
  background-color: #FF6600;
}
.btn.btn-box:hover {
  border: 1px solid #d35400;
  background-color: #d35400;
}
.btn.btn-border {
  background-color: transparent;
}
.btn.btn-border:hover {
  background-color: #FF6600;
}

/*====================
Common Section Title
======================*/
.section-title {
  max-width: 700px;
  margin: 0 auto 60px;
}
.section-title__subtitle {
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
}
.section-title__title {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px 0;
  position: relative;
}
.section-title__title::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #FF6600;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*====================
Margin & Padding
======================*/
.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

/*====================
Alignment
======================*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/*====================
Header Section
======================*/
.header-area {
  padding: 20px 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header {
  display: grid;
  grid-template-columns: 2fr 8fr;
  column-gap: 50px;
  align-items: center;
}
.header__logo {
  width: 150px;
  height: auto;
}
.header__navList {
  display: grid;
  grid-template-columns: repeat(8, auto);
  justify-content: end;
  column-gap: 20px;
}
.header__navLink {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  color: #ffffff;
}
.header__navLink::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #FF6600;
  visibility: hidden;
  transition: all 0.3s linear;
}
.header__navLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  right: 0;
  bottom: 0;
  background-color: #FF6600;
  visibility: hidden;
  transition: all 0.3s linear;
}
.header__navLink:hover {
  color: #FF6600;
}
.header__navLink:hover::before {
  visibility: visible;
  width: 50%;
}
.header__navLink:hover::after {
  visibility: visible;
  width: 50%;
}

/*====================
Banner Section
======================*/
.banner {
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  height: 100vh;
}
.banner::before {
  content: "";
  position: absolute;
  background-color: #333333;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: -1;
}
.banner__contant {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.banner__subtitle {
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-size: 1.625rem;
  font-weight: 300;
}
.banner__title {
  text-transform: capitalize;
  font-size: 3.125rem;
  margin: 50px 0;
  font-weight: 500;
}
.banner__copy {
  max-width: 700px;
  color: #bbbbbb;
}
.banner__btn .btn {
  margin: 30px 10px;
}

/*====================
About Section
======================*/
.about__top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.about__title {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 500;
}
.about__copy {
  margin: 20px 0;
  text-align: justify;
}
.about__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
}
.about__item {
  justify-self: start;
  text-transform: capitalize;
  padding-left: 20px;
  position: relative;
  transition: all 0.3s linear;
}
.about__item::before {
  content: "\f101";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  top: 0;
  left: 0;
  color: #FF6600;
}
.about__item:hover {
  margin-left: 5px;
  color: #FF6600;
}
.about__content .btn {
  margin-top: 30px;
}
.about__media-bject {
  position: relative;
}
.about__media-bject::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FF6600;
  right: -10px;
  bottom: -10px;
  border-radius: 10px;
  z-index: -1;
}
.about__media-bject img {
  border-radius: 10px;
}
.about__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.about__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 40px;
  border: 1px solid #bbbbbb;
  font-size: 26px;
  transition: all 0.3s linear;
}
.about__single:hover .about__icon {
  background-color: #FF6600;
  border: 1px solid #FF6600;
  color: #ffffff;
}
.about__single-title {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 500;
  margin: 20px 0;
}
.about__single .btn {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}
.about__single .btn i {
  margin-left: 5px;
  transition: all 0.1s linear;
}
.about__single .btn:hover i {
  margin-left: 10px;
}

/*====================
Features Section
======================*/

/*# sourceMappingURL=style.css.map */
