@import './variable';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/*====================
Reset CSS
======================*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
  vertical-align: middle;
}

body {
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: $blackColor;
  transition: all 0.3s linear;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}


/*====================
Common CSS
======================*/

.container {
  max-width: 73.125rem;  //1170px
  margin: 0 auto;
}


/*====================
Background CSS
======================*/
@mixin bg{
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;

  &::before{
    content: "";
    position: absolute;
    background-color: $bgGrayColor;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    z-index: -1;
  }
}


/*====================
Common Button CSS
======================*/
.btn{
  display: inline-block;
  color: $whiteColor;
  border-radius: 7px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid $primaryColor;
  
  &.btn-box{
    background-color: $primaryColor;
    &:hover{
      border: 1px solid $primaryHoverColor;
      background-color:$primaryHoverColor;
    }
  }

  &.btn-border{
    background-color: transparent;
    &:hover{
      background-color: $primaryColor;
    }
  }
}


/*====================
Common Section Title
======================*/

.section-title{
  max-width: 700px;
  margin:0 auto 60px;
  
  &__subtitle{
    font-family: $secondaryFontFamily;
    text-transform: capitalize;
    font-weight: 400;
  }

  &__title{
    text-transform: uppercase;
    font-size: $primaryHeading;
    letter-spacing: 3px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
    padding: 15px 0;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      width: 60%;
      height: 2px;
      background-color: $primaryColor;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/*====================
Margin & Padding
======================*/

@for $i from 1 through 2 {
  .pt-#{$i * 50} {
    padding-top: $i * 50px;
  }

  .pb-#{$i * 50} {
    padding-bottom: $i * 50px;
  }
}


/*====================
Alignment
======================*/

$list: left, right, center, justify;

@each $i in $list {
  .text-#{$i} {
    text-align: $i;
  }
}