// Font Family

$primaryFontFamily: 'Poppins', sans-serif;
$secondaryFontFamily: 'Raleway', sans-serif;


// Common Color

$whiteColor: #ffffff;
$blackColor: #000000;
$lightGrayColor:#dddddd;
$lightGreenColor: #009900;



// Theme Color

$primaryColor: #FF6600;
$secondaryColor: #E67E22;
$bgGrayColor: #333333;
$bgNavbarColor: #555555;



// Font Size

$primaryFontSize: 1rem;           //16px
$secondaryFontSize: 1.125rem;     //18px


// Heading Size

$primaryHeading: 3.75rem;          //60px
$secondaryHeading: 1.25rem;        //20px
$headingThree: 1.875rem;           //35px


