@import '../base/variable';

/*====================
Brand Section
======================*/


.brand{
  background-color: $grayWhite;
  &__content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }
}